<!DOCTYPE html>
<!-- Define el tipo de documento como HTML5 -->
<html lang="en">
<!-- Inicio del documento HTML, con el idioma configurado como inglés -->

<head>
    <!-- Inicio de la sección del encabezado del documento HTML -->
    <meta charset="UTF-8">
    <!-- Define la codificación de caracteres del documento como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configura la ventana gráfica para que sea responsive, ajustándose al ancho del dispositivo -->
    <title>Agregar categorías ..:: SiberOS ::..</title>
    <!-- Define el título del documento que se muestra en la pestaña del navegador -->
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <!-- Vincula el archivo de estilos CSS ubicado en '../../assets/css/estilos.css' -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Incluye la biblioteca jQuery desde una CDN, con una versión específica y una verificación de integridad -->
</head>

<body>
    <!-- Inicio del cuerpo del documento HTML -->
    <a href="../../index.php">
        <!-- Enlace que apunta a la página 'index.php' ubicada en el directorio '../../' -->
        <header>
            <!-- Inicio de la sección de encabezado del documento -->
            <img src="../../assets/img/logo.png" alt="Logo de la Empresa" class="logo">
            <!-- Imagen del logo de la empresa, ubicada en '../../assets/img/logo.png', con texto alternativo y clase 'logo' -->
            <h1>Agregar nuevas categorías</h1>
            <!-- Título de nivel 1 que indica la acción de agregar nuevas categorías -->
        </header>
    </a>
    <div class="container">
        <!-- Contenedor principal del contenido -->
        <form id="formCategorias" action="../categorias.php" method="post">
            <!-- Inicio del formulario con id 'formCategorias', que envía datos a 'categorias.php' en el directorio '../' usando el método POST -->
            <label for="nombreCategoria">Nombre de la Categoría:</label>
            <!-- Etiqueta para el campo de entrada 'nombreCategoria' -->
            <input type="text" id="nombreCategoria" name="nombre">
            <!-- Campo de entrada de texto con id 'nombreCategoria' y nombre 'nombre' -->
            <button type="submit">Guardar</button>
            <!-- Botón para enviar el formulario con el texto 'Guardar' -->
            <button class="btn-cancelar" type="reset">Cancelar</button>
            <!-- Botón para restablecer el formulario con la clase 'btn-cancelar' y el texto 'Cancelar' -->
        </form>
        <p>Creado por Braulio Ruiz Niñoles</p>
        <!-- Párrafo con el texto 'Creado por Braulio Ruiz Niñoles' -->
    </div>
    <script src="../../assets/js/validaciones.js"></script>
    <!-- Incluye el archivo JavaScript de validaciones ubicado en '../../assets/js/validaciones.js' -->
    <script src="../../assets/js/main.js"></script>
    <!-- Incluye el archivo JavaScript principal ubicado en '../../assets/js/main.js' -->
</body>

</html>
<!-- Fin del documento HTML -->