/* Variables CSS para colores */
:root {
    /* Color primario */
    --primary-color: #007BFF;
    /* Color primario al hacer hover */
    --primary-hover-color: #00b7ff;
    /* Color secundario */
    --secondary-color: #666;
    /* Color de fondo principal */
    --background-color: #f0f0f0;
    /* Color blanco */
    --white-color: #ffffff;
    /* Color gris claro */
    --gray-light-color: #dbdada;
    /* Color gris oscuro */
    --gray-dark-color: #4b4b4b;
    /* Color para los bordes de error */
    --error-color: #df0101;
    /* Color de fondo para los campos en error */
    --error-bg-color: #f8b6b6;
}

/* Estilos globales para el cuerpo del documento */
body {
    /* Fuente para todo el cuerpo */
    font-family: Arial, sans-serif;
    /* Color de fondo */
    background-color: var(--background-color);
    /* Asegura que el cuerpo cubra al menos la altura completa de la ventana */
    min-height: 100vh;
    /* Elimina el margen por defecto */
    margin: 0;
    /* Utiliza flexbox para manejar la disposición interna */
    display: flex;
    /* Alinea los elementos en una columna */
    flex-direction: column;
}

/* Cabecera del sitio */
header {
    /* Utiliza flexbox para alinear contenido */
    display: flex;
    /* Establece una altura fija */
    height: 60px;
    /* Color de texto */
    color: var(--primary-color);
    /* Fondo blanco */
    background-color: var(--white-color);
    /* Alinea verticalmente el contenido */
    align-items: center;
    /* Espaciado interno */
    padding: 10px;
    /* Transición suave para cambios */
    transition: 0.3s;
    /* Sombra sutil debajo de la cabecera */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Cambio de estilo al hacer hover sobre la cabecera */
header:hover {
    /* Cambia el color de fondo */
    background-color: var(--primary-color);
    /* Cambia el color del texto */
    color: var(--white-color);
}

/* Estilo para el logo en la cabecera */
.logo {
    /* Ancho fijo para el logo */
    width: 220px;
    /* Centra el logo verticalmente */
    align-items: center;
}

/* Estilo general para los enlaces */
a {
    /* Elimina la decoración del texto */
    text-decoration: none;
}

/* Encabezados de primer nivel */
h1 {
    /* Centra el texto del encabezado */
    text-align: center;
    /* Posiciona el encabezado de manera absoluta */
    position: absolute;
    /* Centra horizontalmente */
    left: 50%;
    /* Ajusta para centrar exactamente */
    transform: translateX(-50%);
}

/* Estilo para los contenedores */
.container {
    /* Presenta el contenedor como una tabla en línea */
    display: inline-table;
    /* Fondo blanco */
    background-color: var(--white-color);
    /* Bordes redondeados */
    border-radius: 8px;
    /* Sombra para dar efecto de elevación */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Centra el contenedor con márgenes */
    margin: 40px auto;
    /* Espaciado interno */
    padding: 40px;
    /* Ancho del 80% del contenedor */
    width: 80%;
    /* Ancho máximo para evitar estiramientos */
    max-width: 600px;
}

/* Estilo para los formularios */
form {
    /* Utiliza flexbox para la disposición */
    display: flex;
    /* Coloca los elementos en una columna */
    flex-direction: column;
}

/* Estilo para las etiquetas de los formularios */
label {
    /* Color de texto */
    color: var(--secondary-color);
    /* Texto en negrita */
    font-weight: bold;
    /* Espaciado antes y después */
    margin: 10px 0 5px;
}

/* Estilo para los campos de entrada */
input {
    /* Borde alrededor de los campos */
    border: 2px solid #ccc;
    /* Bordes redondeados */
    border-radius: 8px;
    /* Espaciado interno */
    padding: 10px;
    /* Ancho del 96% del contenedor */
    width: 96%;
}

/* Estilo para los botones */
button {
    /* Color de fondo */
    background-color: var(--primary-color);
    /* Elimina el borde */
    border: none;
    /* Bordes redondeados */
    border-radius: 8px;
    /* Color del texto */
    color: var(--white-color);
    /* Cambia el cursor al pasar sobre el botón */
    cursor: pointer;
    /* Tamaño de fuente moderado */
    font-size: 16px;
    /* Márgenes superiores e inferiores */
    margin: 10px 0;
    /* Espaciado interno */
    padding: 10px;
    /* Transición suave */
    transition: 0.3s;
}

/* Estilo para los botones de tipo submit al hacer hover */
button[type="submit"]:hover {
    /* Cambia el color de fondo */
    background-color: #02c302;
}

/* Estilo para los botones de búsqueda al hacer hover */
button[class="search"]:hover {
    /* Cambia el color de fondo */
    background-color: var(--primary-hover-color);
}

/* Estilo específico para los botones de clase 'delete' */
button[class="delete"] {
    /* Color de fondo gris */
    background-color: #c7c6c6;
    /* Ancho máximo */
    max-width: 100px;
    /* Márgenes alrededor del botón */
    margin: 10px;
    /* Centra el botón */
    align-self: center;
}

/* Estilo para los botones de eliminación al hacer hover */
button[class="delete"]:hover {
    /* Cambia el color de fondo a rojo */
    background-color: #e30000;
}

/* Estilo para los botones de tipo reset */
button[type="reset"] {
    /* Color de fondo gris */
    background-color: #c7c6c6;
    /* Transición suave */
    transition: 0.3s;
}

/* Estilo para los botones de tipo reset al hacer hover */
button[type="reset"]:hover {
    /* Cambia el color de fondo a rojo */
    background-color: #e30000;
}

/* Estilo para los párrafos */
p {
    /* Color de texto gris oscuro */
    color: var(--gray-dark-color);
    /* Tamaño de fuente */
    font-size: 15px;
    /* Centra el texto */
    text-align: center;
    /* Márgenes superiores */
    margin-top: 30px;
}

/* Estilo para la barra de navegación */
.navigation {
    /* Márgenes arriba y abajo */
    margin: 30px 0;
    /* Centra la navegación */
    text-align: center;
}

/* Estilo para los enlaces de navegación */
.nav-link {
    /* Muestra los enlaces como bloques en línea */
    display: inline-block;
    /* Márgenes horizontales */
    margin: 0 30px;
    /* Espaciado interno */
    padding: 10px 20px;
    /* Color de fondo */
    background-color: var(--primary-color);
    /* Color del texto */
    color: var(--white-color);
    /* Elimina la decoración del texto */
    text-decoration: none;
    /* Bordes redondeados */
    border-radius: 8px;
    /* Transición suave */
    transition: 0.3s;
}

/* Estilo para los enlaces de navegación al hacer hover */
.nav-link:hover {
    /* Cambia el color de fondo */
    background-color: var(--primary-hover-color);
}

/* Estilo para las tablas */
table {
    /* Ancho completo */
    width: 100%;
    /* Colapsa los bordes */
    border-collapse: collapse;
    /* Márgenes superiores e inferiores */
    margin: 20px 0;
    /* Tamaño de fuente */
    font-size: 18px;
    /* Centra el contenido */
    text-align: center;
}

/* Estilo para las celdas de las tablas */
table th,
table td {
    /* Espaciado interno */
    padding: 12px;
    /* Línea inferior */
    border-bottom: 1px solid #ddd;
}

/* Estilo para las celdas de encabezado */
table th {
    /* Fondo gris claro */
    background-color: var(--gray-light-color);
}

/* Estilo para las filas pares */
table tr:nth-child(even) {
    /* Fondo gris claro */
    background-color: #f9f9f9;
}

/* Estilo para las filas al hacer hover */
table tr:hover {
    /* Cambia el color de fondo */
    background-color: #f1f1f1;
}

/* Estilos de error para campos de entrada */
input.error,
textarea.error {
    /* Borde rojo */
    border: 1px solid var(--error-color);
    /* Fondo rojo claro */
    background-color: var(--error-bg-color);
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {

    /* Ajusta el ancho del contenedor */
    .container {
        width: 90%;
        padding: 20px;
    }

    /* Ajusta márgenes y padding de los enlaces de navegación */
    .nav-link {
        margin: 0 15px;
        padding: 10px;
    }

    /* Ancho completo para los botones */
    button {
        width: 100%;
    }
}